<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string><![CDATA[https://mos30poc.zhizhangyi.com:9070/uusafe/mos/transfer/rest/v1/downloadFile?orgCode=zhw&fileId=1001319548521246720]]></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string><![CDATA[https://mos30poc.zhizhangyi.com:9070/uusafe/mos/transfer/rest/v1/downloadFile?orgCode=zhw&fileId=1001319317649977344]]></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string><![CDATA[https://mos30poc.zhizhangyi.com:9070/uusafe/mos/transfer/rest/v1/downloadFile?orgCode=zhw&fileId=1001319317649977344]]></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.uusafe.secmail</string>
				<key>bundle-version</key>
				<string>2.9.64</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>安全邮件</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>